
#SectionEndereco{
color: #fff;
background-color: #232323;
width: 100%;

.conteinerEndereco{
display: flex;
align-items: center;  

.BoxEndereco{

width: 100%;

iframe{
width: 100%;
}

.BoxTextEndereco{

margin-top: 1.5em;
padding: 0 40px;
font-family: var(--fontTitle);
text-align: left;

span{
letter-spacing: 0;
font-weight: 800;
background: #FF0000;
color: #fff;
display: inline-block;
padding: 0 10px;
font-size: 0.8em;
font-style: normal !important;
margin-bottom: 0.4em;
}

h1{
font-size: 2.25em;
padding-bottom: 0.25em;
font-weight: bold;
}

p{
font-size: 0.9em;
opacity: 0.8;
color: #fff;
}

.ElementosEndereco{
display: flex;
flex-direction: row;
padding-top: 1em;
padding-bottom: 0.5em;
    
.BoxIcon{
padding: 0 20px;
color: #FF0000;
font-size: 3em;
}

}

}

}

}

}
    
#DownloadCardapio{

color: #fff;
background-color: #FF0000;

padding: 0 40px;
font-family: var(--fontTitle);
font-weight: 400;

.ConteinerDownload{

display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 3em 0;
text-align: left;

h1{
font-size: 2.25em;
padding-bottom: 0.25em;
}

.CardapioLink{
border: 2px solid #fff;
background-color: transparent;
color: #fff;
font-size: 0.9em;
padding: 1.2em 2.4em;
cursor: pointer;
transition: all 500ms ease-in-out;

&:hover{

background: #fff;
color: #FF0000;

}

}
    
}
    
}

footer{
padding: 0 20px;
padding-top: 2em;
padding-bottom: 2em;
line-height: 1.8;

#FooterDireitos{

font-family: var(--fontTitle);
opacity: 0.8;
color: #333;

p{
padding-bottom: 2em;
font-size: 0.9em;
}

}

.ConteinerFooter{

display: flex;
flex-wrap: wrap;
gap: 1em;
padding-bottom: 2em;
width: 100%;
text-align: right;

.LinkFooter{
    cursor: pointer;
    color: #333;
}

}

}

@media screen and (max-width:760px ) {

#SectionEndereco .conteinerEndereco{
 
flex-direction: column;

}

}

@media screen and (max-width:760px ) {

#DownloadCardapio .ConteinerDownload{

text-align: center;

}

}

@media screen and (max-width:760px ) {

#DownloadCardapio .ConteinerDownload{

flex-direction: column;

h1{
font-size: 1.25em;
}

.CardapioLink{
padding: 0.2em 1.4em;
}

}

}
