

#Historia{

padding-bottom: 3em;
padding-top: 6em;
width: 100%;

#ConteinerHistoria{

max-width: none;
padding:0 30px;

.BoxHistoria{

display: flex;
margin: 0 -20px;

#SectionText{

display: block;
text-align: left;
width: 50%;

.BoxText{

font-family: var(--fontTitle);
padding: 0 20px;
color: #000;

span{
letter-spacing: 0;
font-weight: 800;
background: #FF0000;
color: #fff;
display: inline-block;
padding: 0 10px;
font-style: normal !important;
margin-bottom: .4em;
}

h1{
font-size: 2.4em;
line-height: 1;
font-weight: bold;
padding-bottom: 0.4em;
}

p{
font-size: 1.1em;
margin-bottom: 0.5em;
opacity: 0.8;
}

}

}

#SectionImagem{

display: block;
width: 50%;

.ConteinerImagem{

display: block;
overflow: hidden;
max-width: 100%;
padding: 0 20px;
line-height: 0;
position: relative;

.BoxImagem{

padding: 0 10px;
margin: 0 -20px;

img{

width: 100%;
height: auto;

}

}

}

}

}

}

}

#Qualidades{

padding-top: 3em;
width: 100%;

#ConteinerQualidades{

max-width: none;
padding:1.5em 40px;
background-color: #f2f1ed !important;

.BoxQualidades{

display: flex;
padding: 0 20px;

.ElementQualidade{

display: flex;
position: relative;
align-items: center;
padding: 0 10px;

span{

color: #FF0000;
font-size: 4em;
padding: 0 20px;


}

.BoxText{

display: block;
line-height: 1.5;
font-family: var(--fontTitle);
color: #262626;
text-align: left;

h2{
font-size: 1.2em;
font-weight: bold;
}

p{
font-size: 0.9em;
opacity: 0.8;
}

}

}

}

}

}

#Diferenciais{

padding-bottom: 6em;
padding-top: 6em;
width: 100%;

#ConteinerDiferenciais{

padding: 0 40px;

#BoxDiferenciais{

display: block;

.Diferencial{

position: relative;
width: 100%;

&:nth-child(2) {
.BoxDiferencial {
flex-direction: row-reverse;
}
}

.BoxDiferencial{

display: flex;
align-items: center; 

.ConteinerText{

font-family: var(--fontTitle);
color: #262626;
width: 50%;

.BoxText{

padding: 0 40px;

span{

letter-spacing: 0;
font-weight: 800;
background: #FF0000;
color: #fff;
display: inline-block;
padding: 0 10px;
font-style: normal !important;
margin-bottom: 0.4em;
}

h1{
font-weight: bold;
font-size: 3em;
line-height: 1.2;
padding-bottom: 0.4em;
}

p{
font-size: 1em;
opacity: 0.8;
margin-bottom: .5em;
}

}

}

.ConteinerImagem{

width: 50%;

.BoxImagem{

display: block;
overflow: hidden;
position: relative;
padding: 30px 0;
margin: -35px 0;

img{
width: 100%;
height: auto;
}

}

}

}

}


}



}

}

#Chef{

width: 100%;
padding: 3em 0;

#ConteinerChef{

max-width: none;
padding: 0 40px;

#BoxChef{

display: flex;
align-items: stretch;

.ConteinerText{
width: 50%;

.BoxText{

text-align: left;
font-family: var(--fontTitle);
color: #262626;
padding: 0 20px;


span{
letter-spacing: 0;
font-weight: 800;
background: #FF0000;
color: #fff;
display: inline-block;
padding: 0 10px;
font-style: normal !important;
margin-bottom: .4em;
}

h1{
font-weight: 800;
font-size: 2.5em;
padding-bottom: 0.4em
}

p{
font-size: 1em;
opacity: 0.8;
margin-bottom:1em;
}

}

}

.ConteinerImagem{

display: flex;
align-items: center;
width: 50%;

.BoxImagem{

display: block;
overflow: hidden;
line-height: 0;
position: relative;
padding: 0 20px;

img{
width: 100%;
height: auto;
}

}

}

}

}

}

//Historia(Celular)
@media screen and (max-width:760px ) {

#Historia #ConteinerHistoria{
padding:0 20px;
.BoxHistoria{

flex-direction: column;
margin: none;

#SectionText{

width: 100%;
text-align: center;

}

#SectionImagem{


width: 100%;

}

}
}

}

//Qualidade(Celular)
@media screen and (max-width:760px ) {

#Qualidades #ConteinerQualidades{

padding:1.5em 20px;

.BoxQualidades{

flex-direction: column;

.ElementQualidade{

flex-direction: column;

.BoxText{
text-align: center;
}

}

}
}

}

//Diferenciais(Celular)
@media screen and (max-width:760px ) {

#Diferenciais #ConteinerDiferenciais{
    
padding: 0 20px;

#BoxDiferenciais .Diferencial{

&:nth-child(2) {
.BoxDiferencial {
flex-direction: column;
}
}

.BoxDiferencial{

flex-direction: column;

.ConteinerImagem{
width: 100%;
}

.ConteinerText{
width: 100%;

.BoxText{
text-align: center;
padding:40px 20px;
h1{
font-size: 2em;
}

}

}

}
}
}

}

//Cheff(Celular)
@media screen and (max-width:760px ) {

#Chef #ConteinerChef{

padding: 0 10px;

#BoxChef{

display: flex;
flex-direction: column;
align-items: center;
padding: 0 10px;

.ConteinerText{
width: 100%;

.BoxText{
padding: 0 10px;
text-align: center;
}
}

.ConteinerImagem{
width: 100%;
}

}
}

}


//Qualidade(Tablet)
@media screen and (max-width:1000px ) {

#Qualidades #ConteinerQualidades{

padding:1.5em 20px;

.BoxQualidades{


.ElementQualidade{

flex-direction: column;

.BoxText{
text-align: center;
}

}

}
}

}