#Historia {
  padding-bottom: 3em;
  padding-top: 6em;
  width: 100%;
}
#Historia #ConteinerHistoria {
  max-width: none;
  padding: 0 30px;
}
#Historia #ConteinerHistoria .BoxHistoria {
  display: flex;
  margin: 0 -20px;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionText {
  display: block;
  text-align: left;
  width: 50%;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionText .BoxText {
  font-family: var(--fontTitle);
  padding: 0 20px;
  color: #000;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionText .BoxText span {
  letter-spacing: 0;
  font-weight: 800;
  background: #FF0000;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-style: normal !important;
  margin-bottom: 0.4em;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionText .BoxText h1 {
  font-size: 2.4em;
  line-height: 1;
  font-weight: bold;
  padding-bottom: 0.4em;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionText .BoxText p {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  opacity: 0.8;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionImagem {
  display: block;
  width: 50%;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionImagem .ConteinerImagem {
  display: block;
  overflow: hidden;
  max-width: 100%;
  padding: 0 20px;
  line-height: 0;
  position: relative;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionImagem .ConteinerImagem .BoxImagem {
  padding: 0 10px;
  margin: 0 -20px;
}
#Historia #ConteinerHistoria .BoxHistoria #SectionImagem .ConteinerImagem .BoxImagem img {
  width: 100%;
  height: auto;
}

#Qualidades {
  padding-top: 3em;
  width: 100%;
}
#Qualidades #ConteinerQualidades {
  max-width: none;
  padding: 1.5em 40px;
  background-color: #f2f1ed !important;
}
#Qualidades #ConteinerQualidades .BoxQualidades {
  display: flex;
  padding: 0 20px;
}
#Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 10px;
}
#Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade span {
  color: #FF0000;
  font-size: 4em;
  padding: 0 20px;
}
#Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade .BoxText {
  display: block;
  line-height: 1.5;
  font-family: var(--fontTitle);
  color: #262626;
  text-align: left;
}
#Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade .BoxText h2 {
  font-size: 1.2em;
  font-weight: bold;
}
#Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade .BoxText p {
  font-size: 0.9em;
  opacity: 0.8;
}

#Diferenciais {
  padding-bottom: 6em;
  padding-top: 6em;
  width: 100%;
}
#Diferenciais #ConteinerDiferenciais {
  padding: 0 40px;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais {
  display: block;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial {
  position: relative;
  width: 100%;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial:nth-child(2) .BoxDiferencial {
  flex-direction: row-reverse;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial {
  display: flex;
  align-items: center;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText {
  font-family: var(--fontTitle);
  color: #262626;
  width: 50%;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText {
  padding: 20px 40px;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText span {
  letter-spacing: 0;
  font-weight: 800;
  background: #FF0000;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-style: normal !important;
  margin-bottom: 0.4em;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText h1 {
  font-weight: bold;
  font-size: 3em;
  line-height: 1.2;
  padding-bottom: 0.4em;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText p {
  font-size: 1.1em;
  opacity: 0.8;
  margin-bottom: 0.5em;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerImagem {
  width: 50%;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerImagem .BoxImagem {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  margin: -35px 0;
}
#Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerImagem .BoxImagem img {
  width: 100%;
  height: auto;
}

#Chef {
  width: 100%;
}
#Chef #ConteinerChef {
  max-width: none;
  padding: 0 20px;
}
#Chef #ConteinerChef #BoxChef {
  display: flex;
  align-items: stretch;
}
#Chef #ConteinerChef #BoxChef .ConteinerText {
  width: 50%;
}
#Chef #ConteinerChef #BoxChef .ConteinerText .BoxText {
  text-align: left;
  font-family: var(--fontTitle);
  color: #262626;
  padding: 0 40px;
}
#Chef #ConteinerChef #BoxChef .ConteinerText .BoxText span {
  letter-spacing: 0;
  font-weight: 800;
  background: #FF0000;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-style: normal !important;
  margin-bottom: 0.4em;
}
#Chef #ConteinerChef #BoxChef .ConteinerText .BoxText h1 {
  font-weight: 800;
  font-size: 2.5em;
  padding-bottom: 0.4em;
}
#Chef #ConteinerChef #BoxChef .ConteinerText .BoxText p {
  font-size: 1em;
  opacity: 0.8;
  margin-bottom: 1em;
}
#Chef #ConteinerChef #BoxChef .ConteinerImagem {
  display: flex;
  align-items: center;
  width: 50%;
}
#Chef #ConteinerChef #BoxChef .ConteinerImagem .BoxImagem {
  display: block;
  overflow: hidden;
  line-height: 0;
  position: relative;
  padding: 0 20px;
}
#Chef #ConteinerChef #BoxChef .ConteinerImagem .BoxImagem img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 760px) {
  #Historia #ConteinerHistoria {
    padding: 0 20px;
  }
  #Historia #ConteinerHistoria .BoxHistoria {
    flex-direction: column;
    margin: none;
  }
  #Historia #ConteinerHistoria .BoxHistoria #SectionText {
    width: 100%;
    text-align: center;
  }
  #Historia #ConteinerHistoria .BoxHistoria #SectionImagem {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  #Qualidades #ConteinerQualidades {
    padding: 1.5em 20px;
  }
  #Qualidades #ConteinerQualidades .BoxQualidades {
    flex-direction: column;
  }
  #Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade {
    flex-direction: column;
  }
  #Qualidades #ConteinerQualidades .BoxQualidades .ElementQualidade .BoxText {
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial:nth-child(2) .BoxDiferencial {
    flex-direction: column;
  }
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial {
    flex-direction: column;
  }
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerImagem {
    width: 100%;
  }
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText {
    width: 100%;
  }
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText {
    text-align: center;
    padding: 40px 20px;
  }
  #Diferenciais #ConteinerDiferenciais #BoxDiferenciais .Diferencial .BoxDiferencial .ConteinerText .BoxText h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 760px) {
  #Chef #ConteinerChef {
    padding: 0 10px;
  }
  #Chef #ConteinerChef #BoxChef {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  #Chef #ConteinerChef #BoxChef .ConteinerText {
    width: 100%;
  }
  #Chef #ConteinerChef #BoxChef .ConteinerText .BoxText {
    padding: 0 10px;
    text-align: center;
  }
  #Chef #ConteinerChef #BoxChef .ConteinerImagem {
    width: 100%;
  }
}/*# sourceMappingURL=StyleSobre.module.css.map */