

#SectionCatalogo{
display: block;
border: 3em solid #f6f8fa;
border-top: none;
padding-top: 6em;
padding-bottom: 3em;
background-color: #FFF;

.ConteinerCatalogo{
display: flex;
flex-direction: column;
gap: 2.5em;
align-items: center;
padding: 0 40px;


.ConteinerTitle{

display: block;
padding: 0 40px;

text-align: center;
font-family: var(--fontTitle);

#BoxText{

padding: 0 20px;

span{
letter-spacing: 0;
font-weight: 800;
background: #FF0000;
color: #fff;
display: inline-block;
padding: 0 10px;
font-style: normal !important;
margin-bottom: .4em;
}

h1{
font-size: 3em;
line-height: 1.3;
padding-bottom: 0.4em;
}

p{
font-size: 1.1em;
margin-bottom: .5em;
opacity: .6;
clear: both;
}

}

}

.ConteinerProduto{

display: block;
padding: 0 20px;

.fileiraItem{
display: flex;
padding: 0 10px;

}

.ItemCatalogo{

width: 33.33333333%;

.BoxImg{

padding: 0 40px;

img{
width: 100%;
height: auto;
}
}

.BoxText{

text-align: center;
font-family: var(--fontTitle);

h2{
font-size: 1.2em;
font-weight: bold;
padding-bottom: 0.2em;
}

p{
margin-bottom: 0.65em;
font-size: 0.9em;
opacity: 0.8;
}
}

}

}


}

}

@media screen and (max-width:760px ) {

#SectionCatalogo{

border: 1em solid #f6f8fa;

.ConteinerCatalogo{

padding: 0 10px;

.ConteinerTitle{

padding: 0 20px;

#BoxText{

padding: 0 10px;

h1{
font-size: 2.5em;
}

}

}

.ConteinerProduto .fileiraItem{

flex-direction: column;

.ItemCatalogo{

width:100%;
}

}
}
}

}