#Contato {
  width: 100%;
  padding-bottom: 3em;
  padding-top: 6em;
}
#Contato #ConteinerContato {
  display: flex;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
}
#Contato #ConteinerContato #ConteinerFormulario {
  padding: 0 20px;
  text-align: left;
}
#Contato #ConteinerContato #ConteinerFormulario .ConteinerText {
  display: block;
  clear: both;
}
#Contato #ConteinerContato #ConteinerFormulario .ConteinerText .BoxText {
  font-family: var(--fontTitle);
  color: #333;
}
#Contato #ConteinerContato #ConteinerFormulario .ConteinerText .BoxText span {
  letter-spacing: 0;
  font-weight: 800;
  background: #FF0000;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-style: normal !important;
  margin-bottom: 0.4em;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}
#Contato #ConteinerContato #ConteinerFormulario .ConteinerText .BoxText h1 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0.4em;
  line-height: 1.2;
}
#Contato #ConteinerContato #ConteinerFormulario .ConteinerText .BoxText P {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  opacity: 0.8;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form {
  float: left;
  width: 100%;
  font-family: var(--fontTitle);
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form * {
  padding: 0 20px;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label * {
  width: 100%;
  padding: 0.8em 0;
  display: block;
  border-radius: 0;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label {
  cursor: default;
  line-height: 2;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label legend {
  font-size: 1em;
  font-weight: 400;
  color: #333;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label input {
  color: #333;
  padding: 0;
  height: 3.2em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label select {
  font-size: 1em;
  padding: 0.3em 0 0.3em 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label select option {
  cursor: pointer;
  padding-left: 1em;
  margin: 0;
  font-size: 0.9em;
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label textarea {
  resize: vertical;
  line-height: inherit;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#Contato #ConteinerContato #ConteinerFormulario .BoxFormulario form label button {
  cursor: pointer;
  display: inline-block;
  margin-top: 3em;
  padding: 1.1em 2.5em;
  border: none;
  font-size: 0.8em;
  line-height: 1;
  width: auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #FF0000;
  transition: all 300ms ease;
}
#Contato #ConteinerContato #ConteinerAction {
  width: 53.33333333%;
  padding-bottom: 3em;
  text-align: center;
}
#Contato #ConteinerContato #ConteinerAction article {
  padding: 0 40px;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerImage {
  display: block;
  overflow: hidden;
  max-width: 100%;
  line-height: 0;
  position: relative;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerImage img {
  max-width: 100%;
  height: auto;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  padding-top: 1em;
  padding-bottom: 1em;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo .BoxText {
  display: block;
  clear: both;
  font-family: var(--fontTitle);
  color: #333;
  line-height: 1.3;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo .BoxText span {
  letter-spacing: 0;
  font-weight: 800;
  background: #FF0000;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-style: normal !important;
  margin-bottom: 0.4em;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo .BoxText h3 {
  font-weight: bold;
  font-size: 1.5em;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo .BoxText p {
  font-size: 1em;
  margin-bottom: 0.75em;
  opacity: 0.6;
}
#Contato #ConteinerContato #ConteinerAction article .ConteinerInfo .BoxText .TextInfo p {
  opacity: 1;
  font-weight: 500;
}

@media screen and (max-width: 760px) {
  #Contato #ConteinerContato {
    flex-direction: column;
  }
  #Contato #ConteinerContato #ConteinerAction {
    width: 100%;
  }
}/*# sourceMappingURL=StyleContato.module.css.map */